//Only use Hex or RGB coloring methods avoid using direct inbuilt color names
$bodyBackground: #fafafa;
$headerBackground: #ebeef2;
$fontDark: #454444;
$white: #fff;
$grey: #808080;
$xyramOrange: #f17833;
