@import "../../globalColor.scss";
@import "../../global.scss";

.header {
  height: 10vh;
  background-color: $headerBackground;
  box-shadow: 0px 1px 8px $grey;
  background-image: url(../../../public/asset/images/xyramLogo.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 1vh;
  background-size: 120px;

  .logo {
    width: 120px;
  }

  .headFont {
    margin-top: 0;
    padding-top: 0;
    font-family: $HeaderFont;
    font-weight: 900;
    font-size: 3rem;
    color: $fontDark;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 8vh;
    background-size: 80px;
    background-position-y: 2vh;
  }
}
